body, html {
  margin:0;
  padding:0;
}

#button {
  background-color: #afc2cf;
}

#meme-container {
  width:70%;
  max-width:600px;
  min-width:300px;
  margin:auto;
}

#new-meme-form {
  margin: auto;
}


#main {
  background-color: #cfdbe2;
  margin-top: 0px;
  width:100%;
  align: center;
}

.ui.message.center {
  margin-bottom: 0px;
  width:100%;
  align: center;
}

#iron {
  width:100px;
  height:100px;
}

#header {
  font-size: 9rem;
  font-family: 'Londrina Solid', cursive;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 26.4px;
  color: white;
  margin: 20px;
  padding: 20px;
}

#fresh {
  background-color: #409494;
}

#fresh.active {
  background-color: #238876;
  border: solid;
  border-color: black;
  border-width: medium;
}

#top.active {
  background-color: #306A90;
  border: solid;
  border-color: black;
  border-width: medium;
}

#new-meme.active {
  background-color: #c25024;
  border: solid;
  border-color: black;
  border-width: medium;
}

.landing-image {
    /* background-image: url('http://www.powerpointhintergrund.com/download/wood-background-pictures-free-download-4839') !important; */
    background-image: url('https://cdn.pixabay.com/photo/2017/03/10/14/04/background-2132910_1280.jpg') !important;
    /* background-image: url('https://cdn.pixabay.com/photo/2017/10/31/15/13/background-2905526_960_720.png') !important; */
    background-size: cover !important;
}

.page-image {
}

#more-memes-button-container {
  text-align: center;
}
